@import 'reset';


//---------------------------------------------------------------------------------------------------------
// COLORS
//---------------------------------------------------------------------------------------------------------

$white: #fff;
$black: #000;
$dark-grey: #333;
$light-grey: #eaeaea;
$color1: #F3F3F3;
$color2: #999999;


//---------------------------------------------------------------------------------------------------------
// BASE STYLES
//---------------------------------------------------------------------------------------------------------

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	font-family: 'segoe ui light', Calibri, Arial, sans-serif;
	color: $dark-grey;
  background: #fff;
}

a:link,
a:visited {
  outline: none;
  text-decoration: none;
  font-family: 'segoe ui light';
}

a:hover {

}

.clear:before,
.clear:after { content: " "; display: table; }
.clear:after { clear: both; }

h1 {
	font-size: 24px;
	margin-bottom: 30px;
}

h2 {
	font-size: 17px;
	margin-bottom: 20px;
}

p {
	font-size: 15px;
	margin-bottom: 25px;
	line-height: 1.5;
}

.hidden {
	display: none;
}


//---------------------------------------------------------------------------------------------------------
// FONTS
//---------------------------------------------------------------------------------------------------------


@font-face {
	font-family: 'segoe sc';
	src: url('../fonts/segoesc.eot'); /* IE9 Compat Modes */
	src: url('../fonts/segoesc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/segoesc.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/segoesc.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/segoesc.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'segoe ui light';
	src: url('../fonts/segoeuil.eot'); /* IE9 Compat Modes */
	src: url('../fonts/segoeuil.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/segoeuil.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/segoeuil.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/segoeuil.svg#svgFontName') format('svg'); /* Legacy iOS */
}


//---------------------------------------------------------------------------------------------------------
// MIXINS
//---------------------------------------------------------------------------------------------------------

@mixin text-indent {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
}

@mixin pie-clearfix {
	overflow: hidden;
}


//---------------------------------------------------------------------------------------------------------
// GRID THEME
//---------------------------------------------------------------------------------------------------------

.container {
	max-width: 1050px;
	width:92%;
	margin:0px auto;
	position: relative;
	@include pie-clearfix;
}

@media screen and (min-width: 480px) {

  .container {
    width: 98%;
  }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-1-5,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-unit
  {
    float: left;
    width:96.969696969697%;
    margin:0 1.515151515152% 1em;
  }
}

@media screen and (min-width: 640px) {

  .grid-1     { width: 13.636363636364%; }
  .grid-2     { width: 30.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-full  { width: 96.969696969697%; }
  .grid-1-5  { width: 21.971056%; }
}


//---------------------------------------------------------------------------------------------------------
// HEADER + NAV
//---------------------------------------------------------------------------------------------------------

#header {
	height: 600px;
	position: relative;

	.book {
		background: rgba(0, 0, 0, .5);
		bottom: 0;
		height: 44px;
		position: absolute;
		width: 100%;
		z-index: 9999;

		.container {
			padding: 0 10px;
		}

		.book-fields {
			float: right;
			padding: 6px 0;

			form ul li {
				font-size: 15px;
				display: inline-block;
				padding: 0 5px;
				vertical-align: middle;
				color: #fff;

				select {
					width: 90px;
					padding: 5px;
					border: 1px solid #ccc;
					text-transform: uppercase;
					border-radius: 1px;
					float: left;
					cursor: pointer;
					font-size: 10px;
				}

				input {
					width: 100px;
					padding: 5px;
					border: 1px solid #ccc;
					text-transform: uppercase;
					-webkit-appearance: none;
					border-radius: 1px;
					float: left;
					cursor: pointer;
					font-size: 10px;
				}

				.book-input {
					background: url(../img/sprite.png) no-repeat 63px -270px #fff;
				}
			}

			.btn {
				width: 200px;
				background: #FFA004;
				padding: 5px 10px;
				font-size: 13px;
				color: $white;
				border: none;
				outline: none;
				border-radius: 2px;

				&:hover {
					background: #B57304;
				}
			}
		}

		.lang {
			float: left;
			padding: 9px 0 10px 30px;

			ul li {
				display: inline-block;
				margin-right: 4px;
				background: url(../img/sprite.png) no-repeat;
				width: 25px;
				height: 25px;

				a {
					@include text-indent;
					height: 25px;
					width: 25px;
					display: inline-block;
					line-height: 20px;
				}

				&.greek {
					background-position: -469px -6px;
				}

				&.english {
					background-position: -11px -181px;
				}

				&.france {
					background-position: -13px -312px;
				}

				&.italy {
					background-position: -12px -351px;
				}
			}
		}
	}
}

nav {
	height: 450px;
	color: #fff;
	background: rgba( 0, 0, 0, .5);
	width: 210px;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
	-o-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
	-ms-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);

	.logo {
		padding: 5px 0;
		margin-bottom: 0;

		.logo-link {
			background: url(../img/sprite.png) no-repeat -23px -1px rgba(204,204,204,.4);
			width: 198px;
			height: 167px;
			display: block;
			margin: 0 auto;
			@include text-indent;
		}
	}

	.site-name {
		width: 150px;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 25px;
	}

	ul {
		padding: 45px 10px 0;

		li {

			&:hover,
			&.active {
				background: rgba(0,0,0, .40);
			}

			a {
				color: #fff;
				display: block;
				padding: 10px;
			}
		}
	}

	h1 a {
		color: #fff;
	}
}

.menu {
	position: absolute;
	z-index: 999;
	bottom: 44px;
	width: 100%;
}


//---------------------------------------------------------------------------------------------------------
// MAIN CONTENT
//---------------------------------------------------------------------------------------------------------

#main {
	padding-top: 20px;
}

.main-text,
.sidebar,
.rooms {

	h1 {
		border-bottom: 1px solid #DADADA;
		padding-bottom: 10px;
	}

	h2 {
		color: #878787;
		font-family: 'segoe sc';
	}
}

.main-text {

	p {
		margin-bottom: 10px;
	}
}


//---------------------------------------------------------------------------------------------------------
// MAINBAR
//---------------------------------------------------------------------------------------------------------

.home-gallery {
	margin-top: 60px;

	ul li {
		display: inline-block;
		width: 31%;
		height: 178px;
		margin-right: 15px;
		margin-bottom: 5px;

		&.img-3 {
			margin-right: 0;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.boxe { // shadow separator
	height: 30px;
	background: #fff;
	margin-bottom: 55px;
}

.separator {
	position: relative;
}

.separator:before, .separator:after {
	content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.4);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,.4);
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

//---------------------------------------------------------------------------------------------------------
// SIDEBAR
//---------------------------------------------------------------------------------------------------------

.sidebar {

	.services li {
		padding: 7px 0 7px 25px;
		margin-bottom: 5px;
		position: relative;

		&:before {
			content: "";
			background: url(../img/sprite.png) no-repeat -20px -237px;
			width: 6px;
			height: 8px;
			position: absolute;
			top: 13px;
			left: 8px;
		}
	}

	.more {
		margin-top: 30px;
		background: #474747;
		border: 2px solid #E4E4DE;
		padding: 20px 0;
		font-size: 20px;
		color: #fff;
		text-align: center;
		display: block;
		position: relative;

		&:before {
			content: "";
			background: url(../img/sprite.png) no-repeat -20px -415px;
			width: 10px;
			height: 17px;
			position: absolute;
			top: 24px;
			right: 36px;
		}

		&:hover {
			background: #333;
		}
	}

	& > p {
		margin-top: 35px;
	}
}




//---------------------------------------------------------------------------------------------------------
// FOOTER
//---------------------------------------------------------------------------------------------------------


/* upper footer */

.social {

		li {
		display: inline-block;
		margin-right: 4px;
		background: url(../img/sprite.png) no-repeat;
		width: 46px;
		height: 46px;

		a {
			@include text-indent;
			height: 46px;
			width: 46px;
			display: inline-block;
			line-height: 20px;
		}

		&.facebook {
			background-position: -21px -571px;
		}

		&.twitter {
			background-position: -21px -478px;
		}

		&.google {
			background-position: -20px -658px;
		}

		&.pinterest {
			background-position: -429px -658px;
		}

		&.instagram {
			background-position: -428px -570px;
		}
	}
}

.external {
	text-align: right;

	li {
		display: inline-block;
		margin-right: 4px;
		background: url(../img/sprite.png) no-repeat;

		&.tripadvisor {
			background-position: -18px -751px;
			width: 102px;
			height: 82px;

			a {
				@include text-indent;
				width: 102px;
				height: 82px;
				display: inline-block;
				line-height: 20px;
			}
		}

		&.eot {
			background-position: -16px -860px;
			width: 78px;
			height: 78px;

			a {
				@include text-indent;
				width: 78px;
				height: 78px;
				display: inline-block;
				line-height: 20px;
			}
		}
	}
}



#footer {
	margin-top: 20px;

	.foot-left {

		ul {
			padding-top: 20px;

			li {
				display: inline;
				padding: 0 5px;
				font-size: 14px;

				a,
				a:visited,
				a:active {
					color: #6F6F6F;
				}
			}

			&:before {
				content: "____________________________________________________________________________";
				position: absolute;
				color: rgba(135,135,135,.4);
				left: 18px;
				top: -15px;
			}
		}

		p {
			font-size: 13px;
			line-height: 26px;
		}
	}

	.foot-right {
		font-size: 13px;
		padding-top: 20px;
		text-align: right;
		color: #6F6F6F;
		position: relative;
		line-height: 18px;

		&:before {
			content: "_________________________________________";
			position: absolute;
			color: rgba(135,135,135,.4);
			right: 0;
			top: -15px;
		}
	}
}


//---------------------------------------------------------------------------------------------------------
// ACCOMMODATION
//---------------------------------------------------------------------------------------------------------

.checkin {
	background: #f5f5f5;
	border: 2px solid #eee;
	padding: 15px 50px;
	text-align: center;
	display: block;
	width: 415px;
	margin: 0 auto;
}

.categories {
	margin-bottom: 40px;

	h1 {
		border-bottom: 1px solid #DADADA;
		padding-bottom: 10px;

		+ p {
			font-size: 15px;
			color: #999;
			margin: -19px 0 20px 0;
		}
	}
}

.sidebar .weather,
.videos {
	text-align: center;
}

.type-categories {
	border-right: 7px solid #f5f5f5;
	border-left: 7px solid #f5f5f5;
	height: 440px;
	font-size: 15px;

	h3 {
		font-size: 18px;
		padding: 10px;
		background: #f5f5f5;
		margin: 10px;

		a {
			float: right;
			opacity: .8;
		}
	}

	h4 {
		padding: 10px 20px;
	}

	ul {

		li {
			padding: 10px 20px;

			a {
				float: right;

				img {
					width: 70%;
					height: auto;
				}
			}
		}
	}
}


//---------------------------------------------------------------------------------------------------------
// LOCATION
//---------------------------------------------------------------------------------------------------------

.distance {

	td {
		padding: 10px 30px;
	}

	h1 {
		border-bottom: 1px solid #DADADA;
		padding-bottom: 10px;
	}
}

.highlight {
	color: #A76802;
}

.sidebar iframe {
	width: 100%;
	height: 300px;
}

.beaches {

	h1 {
		border-bottom: 1px solid #DADADA;
		padding-bottom: 10px;
	}

	li {

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.type-categories {
	border: none;
	height: auto;

	h3 {
		font-size: 16px;
    margin: 10px 0;
    display: table;
    line-height: 1.3;
    width: 100%;
    vertical-align: middle;

		img {
			width: 70%;
			height: auto;
		}
	}

	.cat-info {
		background: 15px 0 no-repeat url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2051.2%20%2857519%29%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3Einfo%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22info%22%20fill%3D%22%23999999%22%20fill-rule%3D%22nonzero%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M7%2C4.75%20C7%2C4.3375%207.3375%2C4%207.75%2C4%20L8.25%2C4%20C8.6625%2C4%209%2C4.3375%209%2C4.75%20L9%2C5.25%20C9%2C5.6625%208.6625%2C6%208.25%2C6%20L7.75%2C6%20C7.3375%2C6%207%2C5.6625%207%2C5.25%20L7%2C4.75%20Z%22%20id%3D%22Shape%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20points%3D%2210%2012%206%2012%206%2011%207%2011%207%208%206%208%206%207%209%207%209%2011%2010%2011%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8%2C0%20C3.5815%2C0%200%2C3.5815%200%2C8%20C0%2C12.4185%203.5815%2C16%208%2C16%20C12.4185%2C16%2016%2C12.4185%2016%2C8%20C16%2C3.5815%2012.4185%2C0%208%2C0%20Z%20M8%2C14.5%20C4.41%2C14.5%201.5%2C11.59%201.5%2C8%20C1.5%2C4.41%204.41%2C1.5%208%2C1.5%20C11.59%2C1.5%2014.5%2C4.41%2014.5%2C8%20C14.5%2C11.59%2011.59%2C14.5%208%2C14.5%20Z%22%20id%3D%22Shape%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
    width: 32px;
    height: 16px;
    position: relative;
    top: 4px;
    display: table-cell;
    cursor: pointer;

		&:hover {

			.cat-info-box {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	img {
		width: 100%;
	}

	.cat-info-box {
		visibility: hidden;
		opacity: 0;
		transition: all .3s ease;
		width: 240px;
		box-sizing: border-box;
    background: #fff;
    border: 1px solid #dadada;
    position: absolute;
    bottom: 55px;
    right: -14px;
    padding: 15px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.5;

    &:before {
	    content: '';
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid #dadada;
	    position: absolute;
	    bottom: -11px;
	    right: 12px;
    }

    &:after {
	    content: '';
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid #fff;
	    position: absolute;
	    bottom: -10px;
	    right: 12px;
    }
	}
}

.beaches-img {
	width: 100%;
	height: 150px;
}

.infos {

	ul li {
		padding: 10px 0;
	}
}


//---------------------------------------------------------------------------------------------------------
// GALLERY
//---------------------------------------------------------------------------------------------------------

.gallery {

	img {
		width: 100%;
	}
}

//---------------------------------------------------------------------------------------------------------
// ART GALLERY
//---------------------------------------------------------------------------------------------------------

#art_gallery {

	.art h1 {
		margin-top: 5%;
		margin-bottom: -10px;
	}
}

//---------------------------------------------------------------------------------------------------------
// CONTACT
//---------------------------------------------------------------------------------------------------------

.contact-form {
  margin-top:20px;
  text-align: center;
  margin-bottom: 27px;

	.contact_form {

		div {
			@include pie-clearfix;
		}

	  label {
	  	display: block;
	  	float: left;
	  	padding-top: 13px;
	  }

	  input, textarea, select {
	  	font-size: 0.875em;
			width: 68%;
			background: transparent;
			border: 1px solid #C2C2C2;
			padding: 14px 2px;
			color: #5f5f5f;
			text-align: left;
			float: right;
	  }

	  textarea {
	  	min-height: 8em;
	  }

	  button.button2 {
	  	background: grey;
			width: 100px;
			padding: 10px;
			margin-top: 20px;
			border: none;
			border-radius: 3px;
			color: #fff;
			float: right;

			em {
				font-style: normal;
  			font-size: 15px;
			}

			&:hover {
				background: #333;
				color: #fff;
				-webkit-transition: all 1500ms ease;
				-moz-transition: all 1500ms ease;
				-ms-transition: all 1500ms ease;
				-o-transition: all 1500ms ease;
				transition: all 1500ms ease;
			}
	  }
	}
}

.contact-form textarea:focus, .contact-form input[type=text]:focus,
.contact-form input[type=email]:focus {
	border: 1px dashed #99A8C1 ;
	outline:none;
}

#contact {
	 p {
		font-size: 15px;
	}
}

.social-button {
	padding: 23px 40px;
	color: #fff;
	background: #333;
	display: block;
	text-align: center;
	margin-top: 30px;
	font-size: 18px;
}

#homepage {

	.mainbar.grid-5 {
		width: 73.3%;
	}

	.sidebar.grid-1 {
		width: 20%;
		margin-right: 0;
		margin-left: 2.5%;
	}

}

//---------------------------------------------------------------------------------------------------------
// EXTRAS
//---------------------------------------------------------------------------------------------------------

.scrollup{
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 37px;
  display: none;
  text-indent: -9999px;
  background: #9D9D99 url('../img/sprite.png') no-repeat -6px -942px;
	width: 62px;
	height: 62px;
	border-radius: 3px;
}

.logo-mobile {
	display: none;
}

#nav2 {
	display: none;

	ul {
		display: none;
		padding-top: 5px;
	}

	.active + ul {
		display: block;
	}

	button {
		background: #fafafa;
		display: block;
		border: none;
		border-bottom: 2px solid #cecece;
		padding: 10px;
		outline: none;
		margin: 0;
		width: 100%;
		cursor: pointer;

		i {
			color: #333;
			font-size: 20px;
			float: left;
			padding-left: 10px;
		}
	}
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-menu {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-menu:before {
	content: "\f0c9";
}

.pins {

}

.modal {
  background: #AFAFAE;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;

  .pre-logo {
  	background: url(../img/sprite.png) no-repeat -250px -385px;
		width: 226px;
		height: 119px;
		position: absolute;
		top: 50%;
		margin-top: -60px;
		left: 50%;
		margin-left: -113px;

		&:after {
			content: '';
			background: url(../img/dots2.gif) center no-repeat;
			width: 64px;
			height: 21px;
			position: absolute;
			bottom: -40px;
			left: 95px;
		}
  }
 }

 .facebook-like {
 	width: 235px !important;
 	float: left;
 }

 .g-plusone,
 #___plusone_0 {
 	float: left !important;
 	margin-right: 20px !important;
 }


//---------------------------------------------------------------------------------------------------------
// TABLET & MOBILE
//---------------------------------------------------------------------------------------------------------

@media screen and (max-width: 960px) {
	@import "tablet";
}

@media screen and (max-width: 640px) {
	@import "mobile";
}
