#main {
	padding-top: 200px;
}

h1 {
	font-size: 19px;
}

p,
table {
	font-size: 14px;
}

h2 {
	font-size: 15px;
}

#nav2 {
	display: block;

	.active + ul {
		background: #D4D4D4;

		li {
			// border-bottom: 1px solid #fafafa;

			a {
				color: #474747;

				&:hover {
					color: #fff;
				}
			}
		}
	}

	.nav {
		width: 100%;
	}
}

#nav2.nav {
	width: 100%;
	height: auto;
}

nav.mobile {
	display: none;
}

#header {
	height: 300px;
	background: url(../img/mobile/intro-mobile.jpg) no-repeat right -98px;

	.lang {
		text-align: center;
	}

	.book {

		.book-fields form ul li {
			display: block;

			input,
			select {
				float: none;
				width: 200px;
				margin: 4px 0;
			}

			.book-input {
				background: url(../img/sprite.png) no-repeat 164px -270px white;
			}
		}
	}

	#slider {
		display: none;
	}
}

.main-text {
	margin-bottom: 20px;
}

.sidebar {
	margin-bottom: 20px;

	.services > li {
		display: block;
		width: 100%;
		font-size: 15px;
	}

	.more {
		font-size: 18px;
	}
}

.home-gallery {

	ul li {
		display: block;
		width: 100%;
		height: auto;
	}
}

.social,
.external {
	text-align: center;
	padding-bottom: 20px;
}

#footer {

	.foot-right {
		text-align: center;
		padding-bottom: 20px;
		padding-top: 0;
	}

	.foot-left {
		text-align: center;
	}
}

.logo-mobile {
	background: url(../img/sprite.png) no-repeat -23px -1px rgba(204,204,204,.7);
	width: 198px;
	height: 167px;
	display: block;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -100px;
  margin-top: -100px;
}

#accommodation,
#contact,
#contact-form,
#gallery,
#location {

	.logo-mobile {
		top: -250%;
	}
}

.type-categories {
	margin-bottom: 20px;
}

#accommodation {
	#header {
		background: url(../img/mobile/accommodation-mobile.jpg) no-repeat right -98px;
	}

	.categories {
		margin-bottom: 0;
	}
}

#location {
	#header {
		background: url(../img/mobile/location-mobile.jpg) no-repeat right -98px;
	}
}

#gallery {
	#header {
		background: url(../img/mobile/gallery-mobile.jpg) no-repeat right -98px;
	}
}

#contact {
	#header {
		background: url(../img/mobile/contact-mobile.jpg) no-repeat right -98px;
	}
}

.contact-form form.contact_form {

	label {
		display: none;
	}

	input,
	textarea {
		width: 100%;
	}
}
