#main {
	padding-top: 60px;
}

#header {
	height: 500px;

	.book {

		.lang,
		.book-fields {
			float: none;
		}

		.book-fields {
			text-align: center;
			border-bottom: 1px solid #d4d4d4;
			
			// form ul li:first-child {
			// 	display: none;
			// }
		}
	}
}

.modal {
	display: none;
}

.mainbar {
	float: none;
	width: 98%;

	.main-text h1 {
		padding-bottom: 23px;
	}
}

.sidebar {
	float: none;
	width: 98%;

	.more {
		display: inline-block;
		padding: 20px 30px;

		&:before {
			display: none;
		}
	}

	.services {

		> li {
			display: inline-block;
			width: 33%;
		}
	}
}

#footer {
	border-top: 1px solid #d4d4d4;

	.foot-left ul:before {
		display: none;
	}

	.foot-right:before {
		display: none;
	}
}

.social-button {
	display: inline-block;
}

.type-categories h3 a,
.type-categories ul li a {
	margin-left: 10px;
}
