<span style="font-family:'Verdana',helvetica,San-Serif;font-size:16px;color:#020C64"><strong>____________________</strong></span><br>
<table style="width:200" border="0">
    <tr>
        <td align="center"><a href="http://www.eleamare.gr" target="_blank"><img src="http://www.eleamare.gr/EMsignature/logo_tr.png" alt="Elea Mare Hotel" WIDTH=150 /></a></td>
    </tr>
    <tr align="center">
        <td>
        <span style="font-family:'Verdana',helvetica,San-Serif;font-size:16px;color:#020C64"><strong>Elea Mare Hotel</strong></span><br>
        <span style="font-family:'Verdana',helvetica,San-Serif;font-size:14px;color:#020C64">T: +30 27320 57540<br>
        <span style="font-family:'Verdana',helvetica,San-Serif;font-size:14px;color:#020C64">F: +30 27320 57551<br>
        <span style="font-family:'Verdana',helvetica,San-Serif;font-size:14px;color:#020C64">E: <a href="mailto:eleamare@gmail.com">eleamare@gmail.com</a><br>
        <span style="font-family:'Verdana',helvetica,San-Serif;font-size:14px;color:#020C64">W: <a href="http://www.eleamare.gr" target="_blank">www.eleamare.gr</a>
        </td>
    </tr>
    <tr>
        <td align="center"><br><a href="https://www.facebook.com/eleamarehotel" target="_blank"><img src="http://www.eleamare.gr/EMsignature/unnamed.png" alt="Elea Mare Facebook" WIDTH=80 /></a></td>
    </tr>
    <tr>
        <td align="center"><br><a href="http://www.tripadvisor.com/Hotel_Review-g5427703-d1575752-Reviews-Elea_Mare_Hotel-Elea_Laconia_Region_Peloponnese.html" target="_blank"><img src="http://www.eleamare.gr/EMsignature/images.jpg" alt="Elea Mare Tripadvisor"  WIDTH=110 /></a></td>
    </tr>
</table>