/* line 1, ../sass/mobile.scss */
#main {
  padding-top: 200px;
}

/* line 5, ../sass/mobile.scss */
h1 {
  font-size: 19px;
}

/* line 10, ../sass/mobile.scss */
p,
table {
  font-size: 14px;
}

/* line 14, ../sass/mobile.scss */
h2 {
  font-size: 15px;
}

/* line 18, ../sass/mobile.scss */
#nav2 {
  display: block;
}
/* line 21, ../sass/mobile.scss */
#nav2 .active + ul {
  background: #D4D4D4;
}
/* line 27, ../sass/mobile.scss */
#nav2 .active + ul li a {
  color: #474747;
}
/* line 30, ../sass/mobile.scss */
#nav2 .active + ul li a:hover {
  color: #fff;
}
/* line 37, ../sass/mobile.scss */
#nav2 .nav {
  width: 100%;
}

/* line 42, ../sass/mobile.scss */
#nav2.nav {
  width: 100%;
  height: auto;
}

/* line 47, ../sass/mobile.scss */
nav.mobile {
  display: none;
}

/* line 51, ../sass/mobile.scss */
#header {
  height: 300px;
  background: url(../img/mobile/intro-mobile.jpg) no-repeat right -98px;
}
/* line 55, ../sass/mobile.scss */
#header .lang {
  text-align: center;
}
/* line 61, ../sass/mobile.scss */
#header .book .book-fields form ul li {
  display: block;
}
/* line 65, ../sass/mobile.scss */
#header .book .book-fields form ul li input,
#header .book .book-fields form ul li select {
  float: none;
  width: 200px;
  margin: 4px 0;
}
/* line 71, ../sass/mobile.scss */
#header .book .book-fields form ul li .book-input {
  background: url(../img/sprite.png) no-repeat 164px -270px white;
}
/* line 77, ../sass/mobile.scss */
#header #slider {
  display: none;
}

/* line 82, ../sass/mobile.scss */
.main-text {
  margin-bottom: 20px;
}

/* line 86, ../sass/mobile.scss */
.sidebar {
  margin-bottom: 20px;
}
/* line 89, ../sass/mobile.scss */
.sidebar .services > li {
  display: block;
  width: 100%;
  font-size: 15px;
}
/* line 95, ../sass/mobile.scss */
.sidebar .more {
  font-size: 18px;
}

/* line 102, ../sass/mobile.scss */
.home-gallery ul li {
  display: block;
  width: 100%;
  height: auto;
}

/* line 110, ../sass/mobile.scss */
.social,
.external {
  text-align: center;
  padding-bottom: 20px;
}

/* line 117, ../sass/mobile.scss */
#footer .foot-right {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 0;
}
/* line 123, ../sass/mobile.scss */
#footer .foot-left {
  text-align: center;
}

/* line 128, ../sass/mobile.scss */
.logo-mobile {
  background: url(../img/sprite.png) no-repeat -23px -1px rgba(204, 204, 204, 0.7);
  width: 198px;
  height: 167px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}

/* line 140, ../sass/mobile.scss */
.type-categories {
  margin-bottom: 20px;
}

/* line 145, ../sass/mobile.scss */
#accommodation #header {
  background: url(../img/mobile/accommodation-mobile.jpg) no-repeat right -98px;
}
/* line 149, ../sass/mobile.scss */
#accommodation .categories {
  margin-bottom: 0;
}

/* line 155, ../sass/mobile.scss */
#location #header {
  background: url(../img/mobile/location-mobile.jpg) no-repeat right -98px;
}

/* line 161, ../sass/mobile.scss */
#gallery #header {
  background: url(../img/mobile/gallery-mobile.jpg) no-repeat right -98px;
}

/* line 167, ../sass/mobile.scss */
#contact #header {
  background: url(../img/mobile/contact-mobile.jpg) no-repeat right -98px;
}

/* line 174, ../sass/mobile.scss */
.contact-form form.contact_form label {
  display: none;
}
/* line 179, ../sass/mobile.scss */
.contact-form form.contact_form input,
.contact-form form.contact_form textarea {
  width: 100%;
}

/* line 184, ../sass/mobile.scss */
#homepage .sidebar.grid-1 {
  width: 98%;
}
/* line 187, ../sass/mobile.scss */
#homepage .sidebar.grid-1 .social-button {
  width: 98%;
}

/* line 192, ../sass/mobile.scss */
.checkin {
  width: 100%;
}
