.nivoSlider {
	position: relative;
	width: 100% !important;
	height: 600px;
	overflow: hidden;
}

.nivoSlider img {
	height: 600px !important;
	width: 100% !important;
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;
}

.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 551px;
	top: 0;
}

.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
}

.nivo-box img { 
	display: block;
}

.nivo-caption {
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: #000;
	color: #fff;
	width: 100%;
	z-index: 8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nivo-caption p {
	padding: 5px;
	margin: 0;
}

.nivo-caption a {
	display: inline !important;
}

.nivo-html-caption {
  display: none;
}

.nivo-directionNav a {
	position: absolute;
	top: 45%;
	z-index: 9;
	cursor: pointer;
}

.nivo-prevNav {
	left: 0px;
}

.nivo-nextNav {
	right: 0px;
}

.nivo-controlNav {
	text-align: center;
	padding: 15px 0;
}

.nivo-controlNav a {
	cursor: pointer;
}

.nivo-controlNav a.active {
	font-weight: bold;
}

@media screen and (max-width: 960px) {
	.nivoSlider {
		height: 500px;
	}

	.nivoSlider img {
		height: 500px !important;
	}
}

@media screen and (max-width: 640px) {
	.nivoSlider {
		height: 450px;
	}

	.nivoSlider img {
		height: 450px !important;
	}
}