/* line 17, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/screen.scss */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background: #fff;
}

/* line 35, ../sass/screen.scss */
a:link,
a:visited {
  outline: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/* line 46, ../sass/screen.scss */
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

/* line 47, ../sass/screen.scss */
.clear:after {
  clear: both;
}

/* line 49, ../sass/screen.scss */
h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

/* line 54, ../sass/screen.scss */
h2 {
  font-size: 17px;
  margin-bottom: 20px;
}

/* line 59, ../sass/screen.scss */
p {
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 1.5;
}

/* line 65, ../sass/screen.scss */
.hidden {
  display: none;
}

@font-face {
  font-family: 'segoe sc';
  src: url("../fonts/segoesc.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/segoesc.eot?#iefix") format("embedded-opentype"), url("../fonts/segoesc.woff") format("woff"), url("../fonts/segoesc.ttf") format("truetype"), url("../fonts/segoesc.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 108, ../sass/screen.scss */
.container {
  max-width: 1050px;
  width: 92%;
  margin: 0px auto;
  position: relative;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 480px) {
  /* line 118, ../sass/screen.scss */
  .container {
    width: 98%;
  }

  /* line 132, ../sass/screen.scss */
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-1-5,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-unit {
    float: left;
    width: 96.969696969697%;
    margin: 0 1.515151515152% 1em;
  }
}
@media screen and (min-width: 640px) {
  /* line 141, ../sass/screen.scss */
  .grid-1 {
    width: 13.636363636364%;
  }

  /* line 142, ../sass/screen.scss */
  .grid-2 {
    width: 30.30303030303%;
  }

  /* line 144, ../sass/screen.scss */
  .grid-3,
  .grid-half {
    width: 46.969696969697%;
  }

  /* line 145, ../sass/screen.scss */
  .grid-4 {
    width: 63.636363636364%;
  }

  /* line 146, ../sass/screen.scss */
  .grid-5 {
    width: 80.30303030303%;
  }

  /* line 147, ../sass/screen.scss */
  .grid-full {
    width: 96.969696969697%;
  }

  /* line 148, ../sass/screen.scss */
  .grid-1-5 {
    width: 21.971056%;
  }
}
/* line 156, ../sass/screen.scss */
#header {
  height: 600px;
  position: relative;
}
/* line 160, ../sass/screen.scss */
#header .book {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 44px;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
/* line 168, ../sass/screen.scss */
#header .book .container {
  padding: 0 10px;
}
/* line 172, ../sass/screen.scss */
#header .book .book-fields {
  float: right;
  padding: 6px 0;
}
/* line 176, ../sass/screen.scss */
#header .book .book-fields form ul li {
  font-size: 15px;
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
  color: #fff;
}
/* line 183, ../sass/screen.scss */
#header .book .book-fields form ul li select {
  width: 90px;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  float: left;
  cursor: pointer;
  font-size: 10px;
}
/* line 193, ../sass/screen.scss */
#header .book .book-fields form ul li input {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  float: left;
  cursor: pointer;
  font-size: 10px;
}
/* line 204, ../sass/screen.scss */
#header .book .book-fields form ul li .book-input {
  background: url(../img/sprite.png) no-repeat 63px -270px white;
}
/* line 209, ../sass/screen.scss */
#header .book .book-fields .btn {
  width: 200px;
  background: #FFA004;
  padding: 5px 10px;
  font-size: 13px;
  color: white;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 219, ../sass/screen.scss */
#header .book .book-fields .btn:hover {
  background: #B57304;
}
/* line 225, ../sass/screen.scss */
#header .book .lang {
  float: left;
  padding: 9px 0 10px 30px;
}
/* line 229, ../sass/screen.scss */
#header .book .lang ul li {
  display: inline-block;
  margin-right: 4px;
  background: url(../img/sprite.png) no-repeat;
  width: 25px;
  height: 25px;
}
/* line 236, ../sass/screen.scss */
#header .book .lang ul li a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  height: 25px;
  width: 25px;
  display: inline-block;
  line-height: 20px;
}
/* line 244, ../sass/screen.scss */
#header .book .lang ul li.greek {
  background-position: -469px -6px;
}
/* line 248, ../sass/screen.scss */
#header .book .lang ul li.english {
  background-position: -11px -181px;
}
/* line 252, ../sass/screen.scss */
#header .book .lang ul li.france {
  background-position: -13px -312px;
}
/* line 256, ../sass/screen.scss */
#header .book .lang ul li.italy {
  background-position: -12px -351px;
}

/* line 264, ../sass/screen.scss */
nav {
  height: 450px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  width: 210px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* line 275, ../sass/screen.scss */
nav .logo {
  padding: 5px 0;
  margin-bottom: 0;
}
/* line 279, ../sass/screen.scss */
nav .logo .logo-link {
  background: url(../img/sprite.png) no-repeat -23px -1px rgba(204, 204, 204, 0.4);
  width: 198px;
  height: 167px;
  display: block;
  margin: 0 auto;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}
/* line 289, ../sass/screen.scss */
nav .site-name {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 25px;
}
/* line 296, ../sass/screen.scss */
nav ul {
  padding: 45px 10px 0;
}
/* line 302, ../sass/screen.scss */
nav ul li:hover, nav ul li.active {
  background: rgba(0, 0, 0, 0.4);
}
/* line 306, ../sass/screen.scss */
nav ul li a {
  color: #fff;
  display: block;
  padding: 10px;
}
/* line 314, ../sass/screen.scss */
nav h1 a {
  color: #fff;
}

/* line 319, ../sass/screen.scss */
.menu {
  position: absolute;
  z-index: 999;
  bottom: 44px;
  width: 100%;
}

/* line 331, ../sass/screen.scss */
#main {
  padding-top: 20px;
}

/* line 339, ../sass/screen.scss */
.main-text h1,
.sidebar h1,
.rooms h1 {
  border-bottom: 1px solid #DADADA;
  padding-bottom: 10px;
}
/* line 344, ../sass/screen.scss */
.main-text h2,
.sidebar h2,
.rooms h2 {
  color: #878787;
  font-family: 'segoe sc';
}

/* line 352, ../sass/screen.scss */
.main-text p {
  margin-bottom: 10px;
}

/* line 362, ../sass/screen.scss */
.home-gallery {
  margin-top: 60px;
}
/* line 365, ../sass/screen.scss */
.home-gallery ul li {
  display: inline-block;
  width: 31%;
  height: 178px;
  margin-right: 15px;
  margin-bottom: 5px;
}
/* line 372, ../sass/screen.scss */
.home-gallery ul li.img-3 {
  margin-right: 0;
}
/* line 376, ../sass/screen.scss */
.home-gallery ul li img {
  width: 100%;
  height: auto;
}

/* line 383, ../sass/screen.scss */
.boxe {
  height: 30px;
  background: #fff;
  margin-bottom: 55px;
}

/* line 389, ../sass/screen.scss */
.separator {
  position: relative;
}

/* line 393, ../sass/screen.scss */
.separator:before, .separator:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

/* line 414, ../sass/screen.scss */
.sidebar .services li {
  padding: 7px 0 7px 25px;
  margin-bottom: 5px;
  position: relative;
}
/* line 419, ../sass/screen.scss */
.sidebar .services li:before {
  content: "";
  background: url(../img/sprite.png) no-repeat -20px -237px;
  width: 6px;
  height: 8px;
  position: absolute;
  top: 13px;
  left: 8px;
}
/* line 430, ../sass/screen.scss */
.sidebar .more {
  margin-top: 30px;
  background: #474747;
  border: 2px solid #E4E4DE;
  padding: 20px 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  display: block;
  position: relative;
}
/* line 441, ../sass/screen.scss */
.sidebar .more:before {
  content: "";
  background: url(../img/sprite.png) no-repeat -20px -415px;
  width: 10px;
  height: 17px;
  position: absolute;
  top: 24px;
  right: 36px;
}
/* line 451, ../sass/screen.scss */
.sidebar .more:hover {
  background: #333;
}
/* line 456, ../sass/screen.scss */
.sidebar > p {
  margin-top: 35px;
}

/* upper footer */
/* line 473, ../sass/screen.scss */
.social li {
  display: inline-block;
  margin-right: 4px;
  background: url(../img/sprite.png) no-repeat;
  width: 46px;
  height: 46px;
}
/* line 480, ../sass/screen.scss */
.social li a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  height: 46px;
  width: 46px;
  display: inline-block;
  line-height: 20px;
}
/* line 488, ../sass/screen.scss */
.social li.facebook {
  background-position: -21px -571px;
}
/* line 492, ../sass/screen.scss */
.social li.twitter {
  background-position: -21px -478px;
}
/* line 496, ../sass/screen.scss */
.social li.google {
  background-position: -20px -658px;
}
/* line 500, ../sass/screen.scss */
.social li.pinterest {
  background-position: -429px -658px;
}
/* line 504, ../sass/screen.scss */
.social li.instagram {
  background-position: -428px -570px;
}

/* line 510, ../sass/screen.scss */
.external {
  text-align: right;
}
/* line 513, ../sass/screen.scss */
.external li {
  display: inline-block;
  margin-right: 4px;
  background: url(../img/sprite.png) no-repeat;
}
/* line 518, ../sass/screen.scss */
.external li.tripadvisor {
  background-position: -18px -751px;
  width: 102px;
  height: 82px;
}
/* line 523, ../sass/screen.scss */
.external li.tripadvisor a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  width: 102px;
  height: 82px;
  display: inline-block;
  line-height: 20px;
}
/* line 532, ../sass/screen.scss */
.external li.eot {
  background-position: -16px -860px;
  width: 78px;
  height: 78px;
}
/* line 537, ../sass/screen.scss */
.external li.eot a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  width: 78px;
  height: 78px;
  display: inline-block;
  line-height: 20px;
}

/* line 550, ../sass/screen.scss */
#footer {
  margin-top: 20px;
}
/* line 555, ../sass/screen.scss */
#footer .foot-left ul {
  padding-top: 20px;
}
/* line 558, ../sass/screen.scss */
#footer .foot-left ul li {
  display: inline;
  padding: 0 5px;
  font-size: 14px;
}
/* line 565, ../sass/screen.scss */
#footer .foot-left ul li a,
#footer .foot-left ul li a:visited,
#footer .foot-left ul li a:active {
  color: #6F6F6F;
}
/* line 570, ../sass/screen.scss */
#footer .foot-left ul:before {
  content: "____________________________________________________________________________";
  position: absolute;
  color: rgba(135, 135, 135, 0.4);
  left: 18px;
  top: -15px;
}
/* line 579, ../sass/screen.scss */
#footer .foot-left p {
  font-size: 13px;
  line-height: 26px;
}
/* line 585, ../sass/screen.scss */
#footer .foot-right {
  font-size: 13px;
  padding-top: 20px;
  text-align: right;
  color: #6F6F6F;
  position: relative;
  line-height: 18px;
}
/* line 593, ../sass/screen.scss */
#footer .foot-right:before {
  content: "_________________________________________";
  position: absolute;
  color: rgba(135, 135, 135, 0.4);
  right: 0;
  top: -15px;
}

/* line 608, ../sass/screen.scss */
.checkin {
  background: #f5f5f5;
  border: 2px solid #eee;
  padding: 15px 30px;
  text-align: center;
  display: block;
  width: 415px;
  margin: 0 auto;
}

/* line 618, ../sass/screen.scss */
.categories {
  margin-bottom: 40px;
}
/* line 621, ../sass/screen.scss */
.categories h1 {
  border-bottom: 1px solid #DADADA;
  padding-bottom: 10px;
}
/* line 625, ../sass/screen.scss */
.categories h1 + p {
  font-size: 15px;
  color: #999;
  margin: -19px 0 20px 0;
}

/* line 633, ../sass/screen.scss */
.sidebar .weather {
  text-align: center;
}

/* line 637, ../sass/screen.scss */
.type-categories {
  border-right: 7px solid #f5f5f5;
  border-left: 7px solid #f5f5f5;
  height: 440px;
  font-size: 15px;
}
/* line 643, ../sass/screen.scss */
.type-categories h3 {
  font-size: 18px;
  padding: 10px;
  background: #f5f5f5;
  margin: 10px;
}
/* line 649, ../sass/screen.scss */
.type-categories h3 a {
  float: right;
  opacity: .8;
}
/* line 655, ../sass/screen.scss */
.type-categories h4 {
  padding: 10px 20px;
}
/* line 661, ../sass/screen.scss */
.type-categories ul li {
  padding: 10px 20px;
}
/* line 664, ../sass/screen.scss */
.type-categories ul li a {
  float: right;
}
/* line 667, ../sass/screen.scss */
.type-categories ul li a img {
  width: 70%;
  height: auto;
}

/* line 683, ../sass/screen.scss */
.distance td {
  padding: 10px 30px;
}
/* line 687, ../sass/screen.scss */
.distance h1 {
  border-bottom: 1px solid #DADADA;
  padding-bottom: 10px;
}

/* line 693, ../sass/screen.scss */
.highlight {
  color: #A76802;
}

/* line 697, ../sass/screen.scss */
.sidebar iframe {
  width: 100%;
  height: 300px;
}

/* line 704, ../sass/screen.scss */
.beaches h1 {
  border-bottom: 1px solid #DADADA;
  padding-bottom: 10px;
}
/* line 711, ../sass/screen.scss */
.beaches li:first-child {
  margin-left: 0;
}
/* line 715, ../sass/screen.scss */
.beaches li:last-child {
  margin-right: 0;
}

/* line 721, ../sass/screen.scss */
.type-categories {
  border: none;
  height: auto;
}
/* line 725, ../sass/screen.scss */
.type-categories h3 {
  font-size: 16px;
  margin: 10px 0;
}
/* line 729, ../sass/screen.scss */
.type-categories h3 img {
  width: 70%;
  height: auto;
}
/* line 735, ../sass/screen.scss */
.type-categories img {
  width: 100%;
}

/* line 740, ../sass/screen.scss */
.beaches-img {
  width: 100%;
  height: 150px;
}

/* line 747, ../sass/screen.scss */
.infos ul li {
  padding: 10px 0;
}

/* line 759, ../sass/screen.scss */
.gallery img {
  width: 100%;
}

/* line 769, ../sass/screen.scss */
.contact-form {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 27px;
}
/* line 776, ../sass/screen.scss */
.contact-form .contact_form div {
  *zoom: 1;
  margin-bottom: 5px;
}
/* line 38, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.contact-form .contact_form div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 781, ../sass/screen.scss */
.contact-form .contact_form label {
  display: block;
  float: left;
  padding-top: 13px;
}
/* line 787, ../sass/screen.scss */
.contact-form .contact_form input, .contact-form .contact_form textarea, .contact-form .contact_form select {
  font-size: 14px;
  width: 68%;
  background: transparent;
  border: 1px solid #C2C2C2;
  padding: 14px 10px;
  color: #5f5f5f;
  text-align: left;
  float: right;
  font-family: arial, sans-serif;
}
/* line 799, ../sass/screen.scss */
.contact-form .contact_form textarea {
  min-height: 8em;
}
/* line 803, ../sass/screen.scss */
.contact-form .contact_form button.button2 {
  background: grey;
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  float: right;
}
/* line 813, ../sass/screen.scss */
.contact-form .contact_form button.button2 em {
  font-style: normal;
  font-size: 15px;
}
/* line 818, ../sass/screen.scss */
.contact-form .contact_form button.button2:hover {
  background: #333;
  color: #fff;
  -webkit-transition: all 1500ms ease;
  -moz-transition: all 1500ms ease;
  -ms-transition: all 1500ms ease;
  -o-transition: all 1500ms ease;
  transition: all 1500ms ease;
}

/* line 831, ../sass/screen.scss */
input:-moz-placeholder {
  color: #5f5f5f;
  opacity: 1;
}

/* line 837, ../sass/screen.scss */
.contact-form textarea:focus, .contact-form input[type=text]:focus,
.contact-form input[type=email]:focus {
  border: 1px dashed #99a8c1;
  outline: none;
}

/* line 843, ../sass/screen.scss */
#contact p {
  font-size: 15px;
}

/* line 848, ../sass/screen.scss */
.social-button {
  padding: 23px 40px;
  color: #fff;
  background: #333;
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 17px;
}

/* line 860, ../sass/screen.scss */
#homepage .mainbar.grid-5 {
  width: 73.3%;
}
/* line 864, ../sass/screen.scss */
#homepage .sidebar.grid-1 {
  width: 20%;
  margin-right: 0;
  margin-left: 2.5%;
}

/* line 876, ../sass/screen.scss */
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 37px;
  display: none;
  text-indent: -9999px;
  background: #9d9d99 url("../img/sprite.png") no-repeat -6px -942px;
  width: 62px;
  height: 62px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 891, ../sass/screen.scss */
.logo-mobile {
  display: none;
}

/* line 895, ../sass/screen.scss */
#nav2 {
  display: none;
}
/* line 898, ../sass/screen.scss */
#nav2 ul {
  display: none;
  padding-top: 5px;
}
/* line 903, ../sass/screen.scss */
#nav2 .active + ul {
  display: block;
}
/* line 907, ../sass/screen.scss */
#nav2 button {
  background: #fafafa;
  display: block;
  border: none;
  border-bottom: 2px solid #cecece;
  padding: 10px;
  outline: none;
  margin: 0;
  width: 100%;
  cursor: pointer;
}
/* line 918, ../sass/screen.scss */
#nav2 button i {
  color: #333;
  font-size: 20px;
  float: left;
  padding-left: 10px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 938, ../sass/screen.scss */
.icon-menu {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 949, ../sass/screen.scss */
.icon-menu:before {
  content: "\f0c9";
}

/* line 957, ../sass/screen.scss */
.modal {
  background: #AFAFAE;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}
/* line 966, ../sass/screen.scss */
.modal .pre-logo {
  background: url(../img/sprite.png) no-repeat -250px -385px;
  width: 226px;
  height: 119px;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: 50%;
  margin-left: -113px;
}
/* line 976, ../sass/screen.scss */
.modal .pre-logo:after {
  content: '';
  background: url(../img/dots2.gif) center no-repeat;
  width: 64px;
  height: 21px;
  position: absolute;
  bottom: -40px;
  left: 95px;
}

/* line 988, ../sass/screen.scss */
.facebook-like {
  width: 235px !important;
  float: left;
}

/* line 994, ../sass/screen.scss */
.g-plusone,
#___plusone_0 {
  float: left !important;
  margin-right: 20px !important;
  margin-left: 15px !important;
}

@media screen and (max-width: 960px) {
  /* line 1, ../sass/tablet.scss */
  #main {
    padding-top: 60px;
  }

  /* line 5, ../sass/tablet.scss */
  #header {
    height: 500px;
  }
  /* line 11, ../sass/tablet.scss */
  #header .book .lang,
  #header .book .book-fields {
    float: none;
  }
  /* line 15, ../sass/tablet.scss */
  #header .book .book-fields {
    text-align: center;
  }

  /* line 21, ../sass/tablet.scss */
  .modal {
    display: none;
  }

  /* line 25, ../sass/tablet.scss */
  .mainbar {
    float: none;
    width: 98%;
  }
  /* line 29, ../sass/tablet.scss */
  .mainbar .main-text h1 {
    padding-bottom: 23px;
  }

  /* line 34, ../sass/tablet.scss */
  .sidebar {
    float: none;
    width: 98%;
  }
  /* line 38, ../sass/tablet.scss */
  .sidebar .more {
    display: inline-block;
    padding: 20px 30px;
  }
  /* line 42, ../sass/tablet.scss */
  .sidebar .more:before {
    display: none;
  }
  /* line 49, ../sass/tablet.scss */
  .sidebar .services > li {
    display: inline-block;
    width: 33%;
  }

  /* line 56, ../sass/tablet.scss */
  #footer {
    border-top: 1px solid #d4d4d4;
  }
  /* line 59, ../sass/tablet.scss */
  #footer .foot-left ul:before {
    display: none;
  }
  /* line 63, ../sass/tablet.scss */
  #footer .foot-right:before {
    display: none;
  }

  /* line 68, ../sass/tablet.scss */
  .social-button {
    display: inline-block;
  }

  /* line 73, ../sass/tablet.scss */
  .type-categories h3 a,
  .type-categories ul li a {
    margin-left: 10px;
  }

  /* line 77, ../sass/tablet.scss */
  #homepage .mainbar.grid-5 {
    width: 98%;
  }
}
@media screen and (max-width: 640px) {
  /* line 1, ../sass/mobile.scss */
  #main {
    padding-top: 200px;
  }

  /* line 5, ../sass/mobile.scss */
  h1 {
    font-size: 19px;
  }

  /* line 10, ../sass/mobile.scss */
  p,
  table {
    font-size: 14px;
  }

  /* line 14, ../sass/mobile.scss */
  h2 {
    font-size: 15px;
  }

  /* line 18, ../sass/mobile.scss */
  #nav2 {
    display: block;
  }
  /* line 21, ../sass/mobile.scss */
  #nav2 .active + ul {
    background: #D4D4D4;
  }
  /* line 27, ../sass/mobile.scss */
  #nav2 .active + ul li a {
    color: #474747;
  }
  /* line 30, ../sass/mobile.scss */
  #nav2 .active + ul li a:hover {
    color: #fff;
  }
  /* line 37, ../sass/mobile.scss */
  #nav2 .nav {
    width: 100%;
  }

  /* line 42, ../sass/mobile.scss */
  #nav2.nav {
    width: 100%;
    height: auto;
  }

  /* line 47, ../sass/mobile.scss */
  nav.mobile {
    display: none;
  }

  /* line 51, ../sass/mobile.scss */
  #header {
    height: 300px;
    background: url(../img/mobile/intro-mobile.jpg) no-repeat right -98px;
  }
  /* line 55, ../sass/mobile.scss */
  #header .lang {
    text-align: center;
  }
  /* line 61, ../sass/mobile.scss */
  #header .book .book-fields form ul li {
    display: block;
  }
  /* line 65, ../sass/mobile.scss */
  #header .book .book-fields form ul li input,
  #header .book .book-fields form ul li select {
    float: none;
    width: 200px;
    margin: 4px 0;
  }
  /* line 71, ../sass/mobile.scss */
  #header .book .book-fields form ul li .book-input {
    background: url(../img/sprite.png) no-repeat 164px -270px white;
  }
  /* line 77, ../sass/mobile.scss */
  #header #slider {
    display: none;
  }

  /* line 82, ../sass/mobile.scss */
  .main-text {
    margin-bottom: 20px;
  }

  /* line 86, ../sass/mobile.scss */
  .sidebar {
    margin-bottom: 20px;
  }
  /* line 89, ../sass/mobile.scss */
  .sidebar .services > li {
    display: block;
    width: 100%;
    font-size: 15px;
  }
  /* line 95, ../sass/mobile.scss */
  .sidebar .more {
    font-size: 18px;
  }

  /* line 102, ../sass/mobile.scss */
  .home-gallery ul li {
    display: block;
    width: 100%;
    height: auto;
  }

  /* line 110, ../sass/mobile.scss */
  .social,
  .external {
    text-align: center;
    padding-bottom: 20px;
  }

  /* line 117, ../sass/mobile.scss */
  #footer .foot-right {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0;
  }
  /* line 123, ../sass/mobile.scss */
  #footer .foot-left {
    text-align: center;
  }

  /* line 128, ../sass/mobile.scss */
  .logo-mobile {
    background: url(../img/sprite.png) no-repeat -23px -1px rgba(204, 204, 204, 0.7);
    width: 198px;
    height: 167px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
  }

  /* line 140, ../sass/mobile.scss */
  .type-categories {
    margin-bottom: 20px;
  }

  /* line 145, ../sass/mobile.scss */
  #accommodation #header {
    background: url(../img/mobile/accommodation-mobile.jpg) no-repeat right -98px;
  }
  /* line 149, ../sass/mobile.scss */
  #accommodation .categories {
    margin-bottom: 0;
  }

  /* line 155, ../sass/mobile.scss */
  #location #header {
    background: url(../img/mobile/location-mobile.jpg) no-repeat right -98px;
  }

  /* line 161, ../sass/mobile.scss */
  #gallery #header {
    background: url(../img/mobile/gallery-mobile.jpg) no-repeat right -98px;
  }

  /* line 167, ../sass/mobile.scss */
  #contact #header {
    background: url(../img/mobile/contact-mobile.jpg) no-repeat right -98px;
  }

  /* line 174, ../sass/mobile.scss */
  .contact-form form.contact_form label {
    display: none;
  }
  /* line 179, ../sass/mobile.scss */
  .contact-form form.contact_form input,
  .contact-form form.contact_form textarea {
    width: 100%;
  }

  /* line 184, ../sass/mobile.scss */
  #homepage .sidebar.grid-1 {
    width: 98%;
  }
  /* line 187, ../sass/mobile.scss */
  #homepage .sidebar.grid-1 .social-button {
    width: 98%;
  }

  /* line 192, ../sass/mobile.scss */
  .checkin {
    width: 100%;
  }
}
