/* line 1, ../sass/tablet.scss */
#main {
  padding-top: 60px;
}

/* line 5, ../sass/tablet.scss */
#header {
  height: 500px;
}
/* line 11, ../sass/tablet.scss */
#header .book .lang,
#header .book .book-fields {
  float: none;
}
/* line 15, ../sass/tablet.scss */
#header .book .book-fields {
  text-align: center;
}

/* line 21, ../sass/tablet.scss */
.modal {
  display: none;
}

/* line 25, ../sass/tablet.scss */
.mainbar {
  float: none;
  width: 98%;
}
/* line 29, ../sass/tablet.scss */
.mainbar .main-text h1 {
  padding-bottom: 23px;
}

/* line 34, ../sass/tablet.scss */
.sidebar {
  float: none;
  width: 98%;
}
/* line 38, ../sass/tablet.scss */
.sidebar .more {
  display: inline-block;
  padding: 20px 30px;
}
/* line 42, ../sass/tablet.scss */
.sidebar .more:before {
  display: none;
}
/* line 49, ../sass/tablet.scss */
.sidebar .services > li {
  display: inline-block;
  width: 33%;
}

/* line 56, ../sass/tablet.scss */
#footer {
  border-top: 1px solid #d4d4d4;
}
/* line 59, ../sass/tablet.scss */
#footer .foot-left ul:before {
  display: none;
}
/* line 63, ../sass/tablet.scss */
#footer .foot-right:before {
  display: none;
}

/* line 68, ../sass/tablet.scss */
.social-button {
  display: inline-block;
}

/* line 73, ../sass/tablet.scss */
.type-categories h3 a,
.type-categories ul li a {
  margin-left: 10px;
}

/* line 77, ../sass/tablet.scss */
#homepage .mainbar.grid-5 {
  width: 98%;
}
